/*
@import url("phone.css");
@import url("tablet.css");
*/

/* Global | Desktop View */

BODY{
    background-image: url("background.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}
p{
    font-family: 'Tangerine', serif;
    font-size: 20px;
}

.bubbleSkill{
	padding: 10px;
	color: white;
	border: 5px;
	border-radius: 50%;
}
.formContainer{
	background-color: white;
	width: 80%;
}
.inputBox{
border-bottom-style: solid;
	border-bottom-color: orange;
	border-width: thin;
	width: 45%;
}

input:focus, textarea:focus, select:focus{
        outline: none;
    }

.formBuffer{
	width:10%;
}
#fname{
		border: none;
	width: 100%;
height:100%;
}

#lname{
		border: none;
	width: 100%;
	height:100%;

}

#email{
		border: none;
	width: 100%;
	height:100%;

}

#phone{
		border: none;
	width: 100%;
height:100%;
}
#company{
	border: none;
	width: 100%;
height:100%;
}

#jobTitle{
	border: none;
	width: 100%;
height:100%;
}

#jobDescription{
	width: 100%;
	height: 500px;

}

#skills{
	border: none;
	width: 100%;

}

.jobContainer{
	border: medium #000000;
}

/*
.intro{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4000px;
    background-color: white;
    animation-name: intro;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode: forwards;
}
*/

@keyframes intro {
    from {top: 0px;}
    to {left:-100%; top:0px;}
  }

.skillBox{
    width: 100%;
    height: 100px;
}
.languagesSection{
    width: 50%;
}

.skillBar{
    height: 30px;
    width: 40%;
    border-style: solid;
    border-color: #48E5FF;}

.circle1{
    width: 5%;
    height: 150%;
    border-radius: 50%;
    border-style: solid;
    border-color: #48E5FF;
    background-color: white;
}

.skillImg{
    width: 50%;
}

.resumeBox{
	position: relative;
    border-bottom: 1px solid #dbdbdb;}

.circle {
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
  }
  .resumeContainer{
      width: 80%;
      background-color: white;
  }
  
  .circle:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
    
  }
  
  .circle>img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX( -50%);
    top: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    opacity: 0;
    transition: opacity .4s;
  }
  
  .circle>img.tallAndNarrow {
    width: 100%;
    top: 50%;
    transform: translateX(0) translateY( -50%);
    left: 0;
    height: auto;
  }
  
  .circle>img.loaded {
    opacity: 1;
  }

.headshotContainer {
    width: 100%;
}

.bioContainer{
    display: inline-block;
    width: 250px;
    height: auto;
    background-color: white;
    border-radius: 10%;
    position: fixed;
    box-shadow: 5px 10px 8px 10px #888888;

}

.bioBuffer{
    width: 300px;
    height: 100%;
    background-color: transparent;
}

.imageLinks{
    height: 70px; 
    border-radius: 10%;
    
}

/* .bioImageContainer{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
} */

.headshotContainer{
}

.bioTextContainer {
}

.bioText{
    font-size: 25px;
    font-weight: bold;
}

p {
    font-weight: 100;
    font-family: "optima";
}

.portfolioTag{
    position: absolute;
    top:120%;
    width: 40%;
    height: 62px;
    background:#ffe9a6;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.storyContainer{
    width: 96%;
    height: 1200px;
    position: relative;
}

.projectCard1{
    font-family: sans-serif;
    width: 560px;
    height: 80%;
    top: 240px;
    left: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    background-image: url("smallwhitelogo.png");
    background-size: 300px;

}

.projectCard2{
    font-family: sans-serif;
    width: 560px;
    height: 80%;
    top: 240px;
    left: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url("IS_Final_Project_ERD.jpeg");
    background-size: cover;

}

.projectCard3{
    font-family: sans-serif;
    width: 560px;
    height: 80%;
    top: 240px;
    left: 400px;
    position: relative;
    transform: translate(-50%, -50%);
    background-image: url("movieTheaterGUI.png");
    background-size: cover;

}

.projectCard4{
    font-family: sans-serif;
    width: 600px;
    height: 80%;
    top: 240px;
    left: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url("domusFull.png");
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
opacity: 0;
text-align: center;
}

.transparentBackground{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    background-color: white;
}
  
.projectCard1:hover .transparentBackground{
    opacity: 1;
}

.projectCard1:hover .overlay{
    opacity: 1;
}

.projectCard1:hover .projectImage {
    opacity: .3;
}

.projectCard2:hover .transparentBackground{
    opacity: 1;
}

.projectCard2:hover .overlay{
    opacity: 1;
}

.projectCard2:hover .projectImage {
    opacity: .3;
}

.projectCard3:hover .transparentBackground{
    opacity: 1;
}

.projectCard3:hover .overlay{
    opacity: 1;
}

.projectCard3:hover .projectImage {
    opacity: .3;
}

.projectCard4:hover .transparentBackground{
    opacity: 1;
}

.projectCard4:hover .overlay{
    opacity: 1;
}

.projectCard4:hover .projectImage {
    opacity: .3;
}

.cardFrontContainer {
    height: 500px;
}

#rec1 {
    animation: rec1 3s 1;
    border-radius:5px;
    -webkit-border-radius:5px;
    animation-timing-function: linear;
    
}

@keyframes rec1{
    /* 0%{left:200px; top:200px; transform: rotate(1deg)} */
    /* 25%{transform: rotate(-360deg)} */
    /* 50%{transform: rotate(-40deg)}
    75%{transform: rotate(-80deg)}
    100%{transform: rotate(-160deg)} */
}

.businessCardFrontContainer {
    width:100%;
    height: 380px;
    background-color: red;
    position: relative;
}

.diagonalWhiteSq {
    width:20%;
    height:60%;
    background-color: white;
}

.verticalWhiteSq {
    width:3%;
    height:60%;
    background-color: white;
}

.horizontalWhiteSq {
    width:20%;
    height:6%;
    background-color: white;
}

#square1 {
    position: absolute;
    left: 40%;
    top: 40%;

    animation: sq1 3s 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
}

@keyframes sq1{
    /* 0%{left:40%; transform: rotate(50deg)} */
    from {left: 40%;}
    to {left: 30%; top: 65%;transform: rotate(-90deg)}
    /* 25%{transform: rotate(-360deg)} */
    /* 50%{transform: rotate(-40deg)}
    75%{transform: rotate(-80deg)}*/
    /* 100%{transform: rotate(-180deg)} */
}


#square2 {
    position: absolute;
    left: 60%;
    top: 40%;
}

#square3 {
    position: absolute;
    left: 40%;
    top: 40%;
}

#square4 {
    position: absolute;
    left: 30%;
    top: 20%;

    /* -webkit-clip-path: polygon(488.2,22.6 504,8 635.2,134 619.4,148.6); */
    clip-path: polygon(100% 0%, 100% 17%, 0% 100%, 0% 83%);
}
#square5 {
    position: absolute;
    left: 50%;
    top: 20%;
    clip-path: polygon(0 17%, 0% 0%, 100% 83%, 100% 100%);

}

.iuTri{
		width: 10%;
		height: 10%;
	}

.nav-bar{
	width: 100%;
	height: 100px;
	background-color: #48E5FF;
	
	
}
.sidenav {
  visibility: hidden;

}

.sidenav .closebtn {
	visibility: hidden;
}

#main {
	visibility: hidden;
}


#carouselExampleIndicators{
	width: 800px;
	position: relative;
}

.carousel-inner{
	position: relative;

}

.carousel-item{
	height: 500px;
	overflow: hidden;
	width: 100%;

}

.phoneLogo{
	visibility: hidden; 
}

.grad-img{
		width: 20%;
	}




/* Phone */
@media (max-width: 576px){
	
	.phoneLogo{
	visibility: visible; 
	height: 100%;
  	width: 100px;
	position: absolute;
	left: 45%;
	bottom: 5%;
}
	.skillImg{
		width: 100%;
	}
	
	.resumeContainer{
		width: 100%;
	}
	.bioContainer {
		display: none;
	}

	.circle{
		display: none;
	}
	.bioTextContainer{
		display: none;
	}
	.contactContainer{
		display: none;
	}
	.imageLinks{
		display: none;
	}
	.body {
		background: none;
	}
	.headshotContainer {
		background: none;
	}
	.bioBuffer{
		display: none;
	}
	.iuTri{
		width: 70px;
		height: 70px;
	}
	
	.webNav{
		display: none;
	}
	
	.nav-bar{
		display: none;
	}
	
	/*	Navigation*/
	body {
  font-family: "Lato", sans-serif;
}

.sidenav {
	visibility: visible;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
	visibility: visible;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
	visibility: visible;
  transition: margin-left .5s;
  padding: 16px;
}
	
#carouselExampleIndicators{

	display: none;
	
}
	
	.grad-img{
		display: none;
	}
	.me-img{
		display: none;
	}
}

/* Tablet */
@media (min-width: 577px) and (max-width: 1100px){
	.resumeContainer{
		width: 100%;
	}
	.bioContainer {
		display: none;
	}
	
	.grad-img{
		width: 50px;
		height: 120px;
	}
}